<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <form action="#" method="POST">
            <p>Evaluado</p>
            <label for="nombre">Rut</label>
            <input type="text" name="rut" placeholder="rut" required>
            <br>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="nombre" required>
            <br>
            <label for="nombre">Apellido Paterno</label>
            <input type="text" name="apellido_p" placeholder="apellido_p" required>
            <br>
            <label for="nombre"></label>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <br>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <br>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <br>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre" required>
        </form>
        

    </div>
</body>
</html>